.flexOder {
    display: flex;
    gap: 5rem;
}

.flexOder img {
    border-radius: 50%;
}

/* .flexOder:nth-child(odd) p {
    border: 1px solid red;
    order: 1;
}

.flexOder:nth-child(odd) img{
    order: 2;
} */

.flexOder:nth-child(even) p {
    border: 1px solid red;
    order: -1;
}